{% extends "base.html" %}

{% block content %}
<div>
    <div class="ba bw1 br2 pa2 ma3 avenir ">
        <div class="flex-wrap">
            <h3 class="di">{{ post.title }}</h3>
            <h6 class="di">Hello</h6>
            {% comment %} {{ post.user }} {% endcomment %}
        </div>
    </div>
    <div class="ba bw1 br2 pa2 ma3 avenir">
        {{ post.description }}
    </div>
</div>
<div>
    <ul class="list flex-wrap b--solid bg-gray avenir">
        <!-- This will be the loop for the comments -->
            <li>
                

            </li>
        <!-- This will end the comments for loop -->
    </ul>
</div>


{% endblock %}