{% extends "base.html" %}

{% block content %}
<div>
    <div class="ba bw1 br2 pa2 ma3 avenir ">
        <div class="flex-wrap">
            <h2>{{ post.title }}</h2>
            <p>{{ post.user }}</p>
        </div>
    </div>
    <div class="ba bw1 br2 pa2 ma3">
        {{ post.description }}
    </div>
</div>
<div>
    <ul class="list flex-wrap b--solid bg-gray ">
        <!-- This will be the loop for the comments -->
            <li>
                

            </li>
        <!-- This will end the comments for loop -->
    </ul>
</div>


{% endblock %}