{% extends "base.html" %}

{% block content %}
<div>
    <div class="ba bw1 br2 pa2 avenir bg-light-green">
        <div class="flex-wrap">
            <h3 class="di">{{ post.title }}</h3>
            <h6 class="di">{{ post.user }}</h6>
            {% comment %} {{ post.user }} {% endcomment %}
        </div>
    </div>
    <div class="ba bw1 br2 pa2 avenir bg-light-green">
        <a href="{{ post.post_url }}" class="black">View post source</a>
        <br>
        {{ post.description }}
    </div>
    {% if request.user.is_authenticated %}
        <form action="{% url 'post_vote' post.slug %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="shadow-5 bg-light-gray b--solid">
                {% if post in request.user.votes.all %}
                    Unvote
                {% else %}
                    Vote
                {% endif %}
                </button>
        </form>
    {% endif %}
</div>
<div>
    <ul class="list b--solid bg-light-green avenir">
            <a href="{% url 'comment_new' post.slug %}" class="black">Add a comment</a>
            {% comment %} <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form> {% endcomment %}


            {% for comment in comment_list %}
                <li class="ba bw1 br2 pa2 ma2 avenir bg-white">
                    <p>{{ comment.content }}</p>
                    <div class="flex flex-wrap justify-between  ">
                    <div class="flex flex-wrap">
                        <p class="mr2">{{ comment.user }}</p>
                        <p class="mr2">{{ comment.date_posted }}</p>
                    </div>
                    {% comment %} {% if request.user.is_authenticated %}
                        {% if request.user == comment.user %}
                        <button><a href="{% url 'comment_remove' post.slug %}">Delete Comment</a></button>
                        {% endif %}
                    {% endif %} {% endcomment %}
                    </div>
                </li>
            {% endfor %}
    </ul>
</div>


{% endblock %}