{% extends "base.html" %}

{% block content %}
<div>

    <h2>Recently added posts</h2>
        {% if post_list %}
        <ul class="list flex-wrap b--solid bg-gray ">
            {% for post in post_list %}
                <li class="b--solid ma1 bg-light-yellow">
                    <a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a>
                    {{ post.description }}
                    {{ post.date_posted }}
                    {{ post.user }}
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>There are no posts on the site.</p> 
        {% endif %}
</div>





{% endblock %}